<div class="flex justify-between items-center h-16 px-8 bg-white border-b shadow">
  <div class="flex items-center space-x-8 z-50">
    <%# Left side navigation %>
    <div>
      <%= link_to root_path do %>
        <%= image_tag "logo.png", alt: "Logo", class: "h-10" %>
      <% end %>
    </div>

    <%# Desktop items %>
    <%= render "shared/nav/desktop_items"%>
  </div>

  <%# Right side navigation %>
  <div class="flex items-center space-x-4 z-50">
    <%# Announcements %>
    <div>
      <%= render "shared/nav/announcement_icon" %>
    </div>

    <%# Desktop %>
    <%= render "shared/nav/desktop_account" %>

    <%# Mobile %>
    <div class="flex items-center space-x-2">
      <%= render "shared/nav/hamburger_icon" %>
    </div>
  </div>
</div>
