<div class="h-16 flex justify-between items-center px-8 bg-white border-b shadow" data-controller="nav">
  <div class="flex items-center space-x-8 z-50">
    <%# Left side navigation %>
    <div>
      <%= link_to root_path do %>
        <%= image_tag "logo.png", alt: "Logo", class: "h-10" %>
      <% end %>
    </div>

    <%# Desktop items %>
    <%= render "shared/nav/desktop_items"%>
  </div>

  <%# Right side navigation %>
  <div class="flex items-center gap-x-2 z-50">
    <%# Announcements %>
    <div data-nav-target="dropdown" data-dropdown-id="announcements">
      <%= render "shared/nav/announcement_icon" %>
    </div>

    <%# Desktop %>
    <div data-nav-target="dropdown" data-dropdown-id="account">
      <%= render "shared/nav/desktop_account" %>
    </div>

    <%# Mobile %>
    <div class="flex items-center">
      <%= render "shared/nav/hamburger_icon" %>
    </div>
  </div>
  
  <%# Mobile Overlay - only shows on small screens %>
  <div data-nav-target="overlay" 
      class="hidden sm:!hidden fixed inset-x-0 top-16 bottom-0 bg-gray-900/50 transition-opacity z-40"
      aria-hidden="true">
  </div>
</div>
