<div data-controller="sidebar">
  <%# Mobile Overlay %>
  <div class="fixed top-[8rem] bottom-0 left-0 right-0 bg-gray-600 bg-opacity-75 sm:hidden transition-opacity duration-300 ease-linear hidden"
      data-sidebar-target="overlay"
      data-action="click->sidebar#close"></div>

  <%# Mobile Toggle Button %>
  <div class="sm:hidden fixed top-[76px] right-8 z-40">
    <button type="button"
            class="bg-white p-2 rounded-full text-blue-600 shadow-lg"
            data-action="sidebar#toggle">
      <%= heroicon "adjustments-vertical", options: { class: "h-6 w-auto" } %>
    </button>
  </div>

  <%# Sidebar Content %>
  <div class="fixed sm:static h-full w-48 -translate-x-full sm:translate-x-0 transition-transform duration-300 ease-in-out bg-blue-800 overflow-y-auto"
      data-sidebar-target="menu">
    <nav class="mt-5 px-2 space-y-1">
      <%= link_to admin_dashboard_path, 
          class: "#{current_page?(admin_dashboard_path) ? 'bg-blue-700 text-white' : 'text-blue-100 hover:bg-blue-700 hover:text-white'} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
        <%= heroicon "home", options: { class: "mr-3 flex-shrink-0 h-5 w-5" } %>
        Dashboard
      <% end %>

      <%= link_to admin_users_path,
          class: "#{current_page?(admin_users_path) ? 'bg-blue-700 text-white' : 'text-blue-100 hover:bg-blue-700 hover:text-white'} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
        <%= heroicon "users", options: { class: "mr-3 flex-shrink-0 h-5 w-5" } %>
        Users
      <% end %>

      <%= link_to admin_announcements_path,
          class: "#{current_page?(admin_announcements_path) ? 'bg-blue-700 text-white' : 'text-blue-100 hover:bg-blue-700 hover:text-white'} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
        <%= heroicon "bell", options: { class: "mr-3 flex-shrink-0 h-5 w-5" } %>
        Announcements
      <% end %>
    </nav>
  </div>
</div>
