<div class="hidden sm:flex items-center space-x-4">
  <% if current_user && user_signed_in? %>
    <div data-controller="dropdown">
      <button data-action="dropdown#toggle" class="flex items-center gap-x-1 text-sm">
        <%= current_user.username %>
        <%= heroicon "chevron-down", variant: :outline, options: { class: "h-4 w-4" } %>
      </button>
      
      <div data-dropdown-target="menu" class="hidden absolute top-16 right-8 py-2 w-48 space-y-2 bg-white rounded-lg shadow-xl border border-gray-200">
        <%# Account items %>
        <div>
          <%= link_to edit_user_registration_path, data: { turbo: true } do %>
            <div class="account-dropdown-item">
              <span>Account</span>
              <%= heroicon "user", variant: :outline, options: { class: "h-5 w-auto" } %>
            </div>
          <% end %>
        </div>

        <div>
          <%= link_to edit_user_registration_path do %>
            <div class="account-dropdown-item">
              <span>Placeholder</span>
              <%= heroicon "arrows-pointing-out", variant: :outline, options: { class: "h-5 w-auto" } %>
            </div>
          <% end %>
        </div>
        
        <div class="border-t border-gray-200 pt-2">
          <%= button_to destroy_user_session_path, method: :delete, class: "account-dropdown-item text-red-600" do %>
            <span>Sign out</span>
            <%= heroicon "arrow-right-on-rectangle", variant: :outline, options: { class: "h-5 w-auto" } %>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "login-button" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "signup-button" %>
  <% end %>
</div>
