<!DOCTYPE html>
<html>
  <head>
    <title>Admin - Challenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-screen bg-blue-800 overflow-hidden">
    
      <%= render "shared/nav" %>
    
    
    <div class="h-[calc(100vh-4.125rem)] flex">
      <div data-controller="sidebar">
          <div class="fixed h-full inset-y-16 inset-x-0 bg-gray-600 bg-opacity-75 sm:hidden transition-opacity duration-300 ease-linear hidden"
             data-sidebar-target="overlay"
             data-action="click->sidebar#close"></div>

        <div class="sm:hidden fixed bottom-4 right-4 z-40">
          <button type="button"
                  class="bg-blue-600 p-2 rounded-full text-white shadow-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                  data-action="sidebar#toggle">
            <%= heroicon "bars-3", options: { class: "w-6 h-6" } %>
          </button>
        </div>

          <div class="fixed sm:sticky top-[4rem] h-[calc(100vh-4.125rem)] w-64 transition-transform duration-300 ease-in-out transform bg-blue-800 overflow-y-auto"
            data-sidebar-target="menu">
          <nav class="mt-5 px-2 space-y-1">
            <%= link_to admin_dashboard_path, 
                class: "#{current_page?(admin_dashboard_path) ? 'bg-blue-700 text-white' : 'text-blue-100 hover:bg-blue-700 hover:text-white'} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
              <%= heroicon "home", options: { class: "mr-3 flex-shrink-0 h-5 w-5" } %>
              Dashboard
            <% end %>

            <%= link_to admin_announcements_path,
                class: "#{current_page?(admin_announcements_path) ? 'bg-blue-700 text-white' : 'text-blue-100 hover:bg-blue-700 hover:text-white'} group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
              <%= heroicon "bell", variant: :outline, options: { class: "mr-3 flex-shrink-0 h-5 w-5" } %>
              Announcements
            <% end %>
          </nav>
        </div>
      </div>

      <div class="flex-1 overflow-hidden">
        <header class="bg-blue-800 text-white sticky top-0">
          <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
            <h1 class="text-2xl font-semibold">
              <%= content_for?(:header) ? yield(:header) : 'Dashboard' %>
            </h1>
          </div>
        </header>

        <div class="bg-gray-50 rounded-tl-xl h-[calc(100%-4.125rem)] overflow-y-auto">
          <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 h-full">
            <%= yield %>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
