<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>Challenge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <%# Stripe %> 
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body class="h-full">
    <div class="h-full flex flex-col">
      <div class="sticky top-0 z-50">
        <%= render "shared/nav" %>
      </div>
      
      <main class="flex-1 flex flex-col">
        <div class="flex-none">
          <%= render "shared/flash_messages" %>
        </div>
        
        <div class="flex-1 h-full">
          <%= yield %>
        </div>
      </main>
    </div>

    <%# Stripe %>
    <script>
      const stripe = Stripe('<%= stripe_public_key %>');
    </script>
  </body>
</html>
