<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>Challenge</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="h-full">
    <div class="h-full flex flex-col">
      <nav class="flex-none">
        <%= render "shared/nav" %>
      </nav>
      
      <main class="flex-1 flex flex-col p-4 sm:p-8">
        <div class="flex-none">
          <%= render "shared/flash_messages" %>
        </div>
        
        <div class="flex-1 h-full">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
